@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/root";

$red_C:#F0145A;
$blue_C:#24A3FF;
$basic_C:#ffffff;

* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {    
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1720px;
}

.about {
    display: none;
}

.about_us {
    display: none;
}

.logo {
    display: none;
}

.header_section {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    padding-bottom: 60px;  
}

.border_first {        
    display: inline-block;
    width: calc(100% - 40px);
    height: 10px;
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
    position: relative;
    top: -7px;
    left: 20px;        
}

.border_second {
    display: inline-block;
    width: calc(100% - 80px);
    height: 10px;
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
    position: relative;
    top: -21px;
    left: 40px;    
}

.header {
    position: relative;
    background: url(../images/Symbol.png);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;   
}

.language { 
    display: flex;
    justify-content: space-between;    
    padding-left: 22px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    background: rgba(245, 245, 250, 0.2);  

    a {
        text-decoration: none;
        margin-right: 14px; 
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 1px;
        color: $basic_C;      
    }    
}

.language a:last-child {
    margin-right: 0; 
    font-size: 16px;
    line-height: 20px;
    letter-spacing: normal;      
}

.language a:nth-child(3) {     
    padding: 5px 7px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
    background: $red_C;    
}

.logo_mobile {
    display: flex; 
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 15px; 
    padding-right: 22px; 

    a {
        position: relative;
        bottom: 40%;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-decoration: none;
        color: $basic_C;
   }
}

.mini_logo {  
    display: inline-block;    
    content: url(../images/miniLogo.png);
    margin-right: 20px;      
} 

.Hamburger {
    background: none;
    border: none;
    padding: 0;
}



.legal {    
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;    
    color: $basic_C;
    padding-top: 139px;
    padding-bottom: 159px;  
    margin: 0; 
}

.scroll {
    position: relative;
    width: 42px;
    height: 42px;
    left: calc(50% - 42px/2 + 0.5px);    
    background: url(../images/Scroll.png);
    border: none;
    margin-bottom: 30px;
}

.scroll:hover {
    background: url(../images/Scroll2.png)
}



.photo {
    margin-bottom: 30px;
    background: #F5F5FA;
    border-radius: 12px;
    overflow: hidden;
    
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

}  

.team {
    padding: 30px;
}

.paginator {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 60px;
} 

.ellipse {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    background: #24A3FF;
    opacity: 0.2; 
    &:first-child {
        opacity: inherit;
    }  
}

.trust {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;    
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


li a{  
    display: inline-block;        
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;        
    color: #B3B3BA;         
    text-decoration: none;
    
}   
 
li:first-child {
    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    background-clip: text;
      
}

li {
    display: inline-block;
    flex-shrink: 0;
    padding-left: 30px;
    a:hover {    
    color: $red_C;
   }
}

ul {
        
    padding: 0;
    gap: 30px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin-bottom: 0;
    padding-bottom: 30px;   
     
}

.listing {
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.idea {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $basic_C;
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 4px solid rgba(255, 255, 255, 0.3);;
}

.description {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: $basic_C;
    margin: 0;
}

.servicing a {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: $blue_C;       
}

.servicing h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;   
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 30px;
    margin-top: 10px;    
}

.services h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: $blue_C;
    margin-bottom: 15px;
}

.services p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $basic_C;
    margin-bottom: 30px;   
}

.services img {
    margin-bottom: 30px;
}

.team {
    a {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;        
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;        
        color: $blue_C;
    }
    
    h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 30px;
    }

    p {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #B3B3BA;
        margin-bottom: 6px;

        &:last-child {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 0;
        }
    }
}

.icons a {    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    height: 120px;    
}



.hillel {
    background: #1C4280;
}

.wannabiz {
    background: #143646;
}

.look {
    background: #9E4DC3;
}

.orangear {
    background: #FD9339;
}

.adtelligent {
    background: #E2E2E4;
}

.clickky {
    background: #C71C36;
}

.leasing {
    background: #DCF3F9;
}

.ingratek {
    background: #EAEAEA;
}

.city {
    background: #282240;
}

.artprint {
    background: #1D4568;
}

.ultimatecard {
    background: #000000;
}
    

.tapgerine {
    background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}

.icons a:nth-child(n+7) {
    display: none;
}

.publications {
    padding-top: 30px;    
    background: #F5F5FA;       
    a {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;        
    }

    h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 30px;
    }
}

.card {
    
    background: #FFFFFF;
    border-radius: 8px;
    
    h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $blue_C;
        margin-bottom: 15px;
    }

    p {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;       
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #B3B3BA;
        margin-bottom: 15px;
    }

    img {
        border-radius: 8px 8px 0px 0px;
        width: 100%;
                
    }

    .Paragraph {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        margin: 0; 
        border-top: 4px solid #E6E6F0;
        padding-top: 15px;
    }       
}

.frames {        
    border-bottom: 2px solid #E6E6F0;    
}

.frame {
    padding: 30px; 
    margin-bottom: 30px;  
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;    
    background: #F5F5FA;
}

.addres {
    text-align: center;
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #323264;               
        margin-bottom: 10px;        
    }

    a {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;        
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: $blue_C;
        
    }
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    
    a {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;        
        color: #46466E;
        text-decoration: none;
        
        &:last-child {
            color: $blue_C;
        }
    }
}


.company {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #B3B3BA;
    p {
        margin-bottom: 0;
    }
}
      

@media (min-width:768px) {
    .wrapper {
        padding-left: 60px;
        padding-right: 60px;          
    }

    .language {
        display: none;
    }

    .logo_mobile {
        display: none;
    } 
    
    .icons a:nth-child(n+7) {
        display: flex;
    }

    .about {
        display: flex;
        padding-top: 50px;
        margin-bottom: 30px;
        a {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 1px;
            text-decoration: none;
            color: $basic_C;
            &:nth-child(3) {
                margin-left: 7px;
                margin-right: 6px;
                padding: 5px 7px;
                border-radius: 8px;                
                background: $red_C; 
            }          
        }
    }

    .location a {             
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;                
        text-align: right;
        color: #B3B3BA;
        margin-right: 6px; 
        &::before {
            content: url(../images/Dot.png);
            margin-right: 6px;
        }    
    }

    .phone a {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $basic_C; 
        &::after {
            content: url(../images/Dot.png);
            margin-left: 6px;
            margin-right: 6px;
        } 
        &::before {
            content: url(../images/Dot.png);
            margin-right: 6px;
        }
    }
    
    .about_us {
        display: inline-block;
        a {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;       
            color: $basic_C;
            text-decoration: none;
            margin-right: 15px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .logo {
        display: block;
        margin-bottom: 30px;        
    }   

    .navigation {
        display:block;        
    }

    .legal {         
        padding-top: 274px;
        padding-bottom: 417px;  
        margin: 0; 
    }
   
    .icons {        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        a {
            width: 256px;
           
        }
    }   
}

@media (min-width:1024px) {
    .wrapper {
        padding-left: 60px;
        padding-right: 60px;          
    }

    .about a:nth-child(4) {
        color: $basic_C;
    }

    .navigation {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;        
    }
    
    .logo {
        padding-top: 50px;
        margin-bottom: 0;
    }

    .about_us {
        position: relative;
        bottom: 16px;
    }

    .about {
        margin-bottom: 0;
    }

    .photo {
        display: flex;
    }
}

@media (min-width:1200px) {
    .wrapper {
        padding-left: 60px;
        padding-right: 60px;          
    }

    .navigation {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;        
    }
    .about_us {
        display: inline-block;
        
    }

    .logo {
        min-width: 50%;
    }
}   